services:
  db:
    container_name: wp-db
    image: mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    ports:
      - 3306:3306
    networks:
      - wp-network

  phpmyadmin:
    container_name: wp-pma
    image: phpmyadmin
    restart: always
    depends_on:
      - db
    ports:
      - 8888:80
    networks:
      - wp-network

  wordpress:
    container_name: wp
    image: wordpress
    restart: always
    user: www-data:www-data
    depends_on:
      - db
    ports:
      - 80:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: user
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_PASSWORD: password
      WORDPRESS_TABLE_PREFIX: wp_
      WORDPRESS_DEBUG: 1
    volumes:
      - ./src/wordpress:/var/www/html
      - ./src/comblock-html:/var/www/html/wp-content/plugins/comblock-html
      - ./src/comblock-login:/var/www/html/wp-content/plugins/comblock-login
      - ./src/comblock-rental:/var/www/html/wp-content/plugins/comblock-rental
    networks:
      - wp-network

  wpcli:
    container_name: wp-cli
    image: wordpress:cli
    restart: always
    stdin_open: true
    tty: true
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: user
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_PASSWORD: password
      WORDPRESS_TABLE_PREFIX: wp_
      WORDPRESS_DEBUG: 1
    entrypoint: ["wp", "--allow-root"]
    depends_on:
      - db
      - wordpress
    volumes:
      - ./src/wordpress:/var/www/html
    networks:
      - wp-network

  composer:
    container_name: wp-composer
    image: composer:latest
    working_dir: /var/www/html
    volumes:
      - ./src/wordpress:/var/www/html
      - ./data/composer/composer-wordpress.json:/var/www/html/composer.json
    networks:
      - wp-network
    restart: "no"

volumes:
  db:
    driver: local

networks:
  wp-network:
    driver: bridge
